extends layout

block content
	.container
		h1 Agregar nuevo cliente
		.row
			div(class='col-md-12', ng-controller='customer')
				.col-md-12
					form(id='formAddCustomer', name='addCustomer', class='form-horizontal', action='/customers/save', method='post')
						p Los campos con asterisco(*) son obligatorios. 
						if (err)
							#{err}
						h2 Datos de Cliente
						.form-group
							label Nombres(*)
							input(type='text', class='form-control', name='name', maxlength='60', required='true')
						.form-group
							label Apellido(*)
							input(type='text', class='form-control', name='lastname', maxlength='30', required='true')
						.form-group
							label Apellido Materno(*)
							input(type='text', class='form-control', name='motherlastname', maxlength='30', required='true')
						.form-group
							label Email(*)
							input(type='email', class='form-control', name='email', maxlength='90', required='true')
						.form-group
							label Teléfono Local
							input(id='localphone', type='text', class='form-control', name='localphone', maxlength='20')
						.form-group
							label Teléfono Celular(*)
							input(id='mobilephone', type='text', class='form-control', name='mobilephone', maxlength='20', required='true')
						.form-group
							label Fecha de Nacimiento(*)
							input(id='birthday', type='text', class='datepicker form-control', name='birthday', required='true')
						br
						h2 Direccion
						.form-group
							label Calle y Numero (*)
							input(type='text', class='form-control', name='street', ng-model="street", maxlength='80')
						.form-group
							label Delegacion/Municipio (*)
							input(type='text', class='form-control', name='delegation', ng-model="delegation", maxlength='60')
						.form-group
							label Ciudad (*)
							input(type='text', class='form-control', name='city', ng-model="city", maxlength='60')
						.form-group
							label Colonia (*)
							input(type='text', class='form-control', name='colony', ng-model="colony", maxlength='30')
						.form-group
							label Estado (*)
							input(type='text', class='form-control', name='state', ng-model="state", maxlength='30')
						.form-group
							label País (*)
							select(class='form-control', name='country_id', ng-model='country_id')
								each country in countries
									option(value='#{country.id}')=country.name
						.form-group
							label Codigo Postal
							input(type='text', class='form-control', name='postalcode', ng-model='postalcode', maxlength='15')
						h2 Facturación
						label Activar Facturacion
						input(type='checkbox', id='invoiceCheckbox', class='form-control', name='activate')
						.form-group
							label Nombre/Razon social (*)
							input(type='text', class='invoice form-control', name='reasonname', required='true', maxlength='60')
						.form-group
							label RFC (*)
							input(id='regex', type='text', class='invoice form-control', name='rfc', required='true')
						.form-group
							label Calle y Numero (*)
							input(type='text', class='invoice form-control', name='istreet', ng-value='street', maxlength='80')
						.form-group
							label Delegacion/Municipio (*)
							input(type='text', class='invoice form-control', name='idelegation', ng-value='delegation', maxlength='60')
						.form-group
							label Ciudad (*)
							input(type='text', class='invoice form-control', name='icity', ng-value='city', maxlength='60')
						.form-group
							label Colonia (*)
							input(type='text', class='invoice form-control', name='icolony', ng-value='colony', maxlength='30')
						.form-group
							label Estado (*)
							input(type='text', class='invoice form-control', name='istate', ng-value='state', required="true", maxlength='30')
						.form-group
							label País (*)
							select(class='invoice form-control', name='icountry_id', ng-value='country_id')
								each country in countries
									option(value='#{country.id}')=country.name
						.form-group
							label Codigo Postal
							input(type='text', class='invoice form-control', name='ipostalcode', ng-value='postalcode', maxlength='15', required='true')
						button(type='submit', class='btn btn-default') Guardar
							

