extends layout

block content
	.container
		h1 Clientes
		a(class='btn btn-default pull-right', href='/customers/addCustomer') Agregar
		.row
			.col-md-12
				input(type="text", class='form-control', ng-model="searchBox.$", name="searchBox", placeholder="Buscador...")
				.stater-template
					.table-responsive
						table.table
							thead
								tr
									th Nombre
									th Apellido
									th Apellido Materno
									th Email
									th Telefono Celular
							tbody(ng-controller="customer")
								if customers.length!=[]
									tr(ng-repeat='customer in customers | filter:searchBox')
										td
											{{customer.name}}
										td
											{{customer.lastname}}
										td
											{{customer.motherlastname}}
										td
											{{customer.email}}
										td
											{{customer.mobilephone}}
										td 
											a(href='/customers/update/{{customer.id}}')
												span(class='glyphicon glyphicon-pencil')
										td
											a(href='/customers/delete/{{customer.id}}')
												span(class='glyphicon glyphicon-trash')
								else
									tr
										td
										td No existen clientes registrados aun.